[Install]
WantedBy=graphical-session.target

[Service]
ExecStart=wayland-pipewire-idle-inhibit
Restart=always
RestartSec=10

[Unit]
Description=Inhibit Wayland idling when media is played through pipewire
Documentation=https://github.com/rafaelrc7/wayland-pipewire-idle-inhibit

